<!-- Button to Open the Modal -->
<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myCoupon">
  Create Coupon
</button>
<%= render "new_coupon" %>
<div class="card-body">
  <table id="data-table-counpon" class="table">
    <thead>
      <tr>
        <th>Coupon ID</th>
        <th>Formality</th>
        <th> Content </th> 
        <th> Action </th>
      </tr>
    </thead>
    <tbody>  
      <% @coupons.each_with_index  do |product, index| %>
        <tr>
          <td><%= index +1 %></td>
          <td></td>
          <td></td>
          <td>
            <%= link_to "#" do %>
              <i class='fas fa-edit' style='color: black'></i>
            <% end %>
            <%= link_to "#" do %>
              <i class='fas fa-wrench' style='color: black'></i>
            <% end %>
            <%= link_to "#", remote: true, method: :delete, data: {confirm: "Are you sure?"}, class:"delete-product" do %>
              <i class='far fa-trash-alt' style='color: black'></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<script type="text/javascript">
  $(document).ready(function(){
      $(document).ready(function() {
      $('#data-table-counpon').dataTable()
    });
  });
</script>